# Variables de entorno
.env

# Entorno virtual
lockvenv/
venv/

# Byte-compiled / optimized Python files
__pycache__/
*.pyc

app/static/images/

# IDE-specific files
.idea/
.vscode/

# Logs
*.log


# Database files
*.db

# Local configuration file (if using Flask's instance folder)
instance/



# macOS system files
.DS_Store
