# Variables de entorno
.env

# Entorno virtual
lockvenv/
venv/

# Byte-compiled / optimized Python files
__pycache__/
*.pyc

# Virtual environment
venv/

# IDE-specific files
.idea/
.vscode/

# Logs
*.log

# Environment variables
.env

# Database files
*.db

# Compiled Python files
*.pyc

# Byte-compiled / optimized Python files
__pycache__/

# Local configuration file (if using Flask's instance folder)
instance/

# Compiled Python files
*.pyc

# macOS system files
.DS_Store
